

body {
    display: flex;
    margin: 0;
    padding: 0;
    color: black;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    font-family: 'Arial', sans-serif;

}
body{
    display: flex;
    margin: 0;
    padding: 10rem 10rem 28rem 28rem;

}

.post-container {
    max-width: 600px;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 1000px  rgba(48, 181, 92, 0.533) ;

}

.post-container h1,
.post-container form {
    text-align: center;

}

.post-container input,
.post-container textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    color: black;
}

.post-container button {
    background-color: transparent;
    color: #000;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    margin-top: 5px;
}

.post-container button:hover {
    transform: scale(1.1);
    border: none;
    border-radius: 20px;
    background-color: rgba(48, 181, 106, 0.533);
}

.btn {
    background-color: transparent;
    color: #000;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    margin-top: 5px;
}

.btn:hover {
    transform: scale(1.1);
    border: none;
    border-radius: 20px;
    background-color: rgba(48, 181, 106, 0.533);
}