.navbar-nav .nav-link{
  background-color: rgba(23, 179, 64, 0.533);
  width: 9vw;
  height: 50px;
  color: black;
  text-align: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
 margin-left: 5px;
 margin-right: 20px;
 /* margin-top: -70px; */
 align-items: center;
 
}
.post{
  text-align: center;
  color: black;
}

.post-container {
  text-align: center;
  max-width: 700px;
 border-radius: 10px;
 box-shadow: rgba(12, 9, 9, 0.1);
 position: relative;
 top: 27rem;
 left: 50%;
 transform: translate(-50%, -50%);
}

.container-fluid{
  max-width: 1000px;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.posts:hover{
  /* border: 3px solid rgba(14, 132, 46, 0.533); */
  transition: all 0.4s ease-in-out;
}

h1{
  text-align: center;
}

.nav-item{
  padding-bottom: 4px;
  color: black !important;
  margin-right: 2px;
  font-size: 1.1rem;
}


.collapse .navbar-collapse{
  background-color: aqua;
}

/* .navbar-nav{ */
  /* justify-content: left; */
  
/* } */

.active{
  background-color: rgba(68, 155, 92, 0.533);
}

.navbar{
  max-height: 4.5rem;
    background-color: teal; 
}

.containe{
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
}

