body {margin: 0; 
   padding: 0;
   color:black;
   padding: 1rem;
   align-items: center;
   justify-content: space-around;
   font-family: 'Arial', sans-serif;
}

.container{
    background-color:white;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
   border-radius: 10px;
   box-shadow: 0 0 1000px  rgba(48, 181, 92, 0.533) ;
    gap: 10px;
}

h1,h2,h3,p{
    text-align: center;
}

.child:hover{
    border: 3px solid black;
    gap: 2  px;
    border-radius: 5px; 
}

.child img{
    align-self: center;
}

.container-fluid{
    text-align: center;
    position: fixed;
    background-color: aliceblue;
}

/* Set the scrollbar width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Style the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #5e976b;
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #45df67;
    size: 20px;
    box-shadow: #5e976b;
  }
  
  /* Add a hover effect to the scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #257437;
  }