<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/contact-us.css">
    <title>Contact Us</title>
</head>

<body>
    <center>
        <div class="container">
            <h2>Our Team</h2>
            <div class="employee-grid">
                <div class="employee-card">
                    <h3>Nakshi Shah</h3>
                    <p>email : nakshishah3108@gmail.com</p>
                </div>
                <div class="employee-card">
                    <h3>Jainish Prajapati</h3>
                    <p>Email : jainishprajapati98@gmail.com</p>
                </div>
                <div class="employee-card">
                    <h3>Mishty Vadera</h3>
                    <p>Email : mishty041@gmail.com </p>
                </div>
                <div class="employee-card">
                    <h3> Sarang Ramani</h3>
                    <p>Email : sarangramani1@gmail.com </p>
                </div>
            </div>
        </div>
    </center>
</body>
</html>