<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'investor_info.css') }}">
    <title>Investor Info</title>
</head>
<body>
    <div class="parent">
    <h2>Investor Information</h2>
    <form method="POST" enctype="multipart/form-data">
        <label for="total_investments">Total Investments:</label>
        <input type="text" name="total_investments" required><br>

        <label for="area_of_interest">Area of Interest:</label>
        <input type="text" name="area_of_interest" required><br>

        <label for="investor_image">Investor Image:</label>
        <input type="file" name="investor_image" accept="image/*">
        <br>
        <button type="submit" class="button">Submit</button>
        
    </form>
    </div>
</body>
</html>
