<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'addpost.css') }}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Startup Info</title>
</head>
<body>
    <div class="post-container">
    <h2 style="text-align: center;">Startup Information</h2>
    <form method="POST" enctype="multipart/form-data">
        <label for="startup_name">Startup Name:</label>
        <input type="text" name="startup_name" required><br>

        <label for="year_of_found">Year of Found:</label>
        <input type="text" name="year_of_found" required><br>

        <label for="last_financial_details">Last Financial Details:</label>
        <input type="text" name="last_financial_details" required><br>

        <label for="number_of_patents">Number of Patents:</label>
        <input type="text" name="number_of_patents" required><br>

        <label for="yearly_turnover">Yearly Turnover:</label>
        <input type="text" name="yearly_turnover" required><br>

        <label for="startup_logo">Startup Logo:</label>
        <input type="file" name="startup_logo" accept="image/*">
        <br>

        <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>